.wrapper {
  background: #fff;
  padding: 16px;
}

.filedWrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.hr {
  background: #eff3f4;
  border: 0;
  height: 1px;
  margin: 12px 0;
  width: 100%;
}
