$colors: (
  black: #222,
  gray: #eff3f4,
  light-gray: #f7f9f9,
  white: #fff,
);

$dark-colors: (
  black: #0d1117,
  dark-gray: #161b22,
  gray: #1d2229,
  white: #f0f6fc,
);

$mq-breakpoints: (
  mobile: 320px,
  tablet: 740px,
  desktop: 980px,
  wide: 1300px,
);
