@import "./constants";

/* stylelint-disable selector-pseudo-class-no-unknown, property-no-unknown */

:export {
  lg: map-get($map: $mq-breakpoints, $key: desktop);
  md: map-get($map: $mq-breakpoints, $key: tablet);
  sm: map-get($map: $mq-breakpoints, $key: mobile);
  xl: map-get($map: $mq-breakpoints, $key: wide);
}
/* stylelint-enable */
