@import "styles/constants";

.wrapper {
  background: map-get($map: $colors, $key: white);
  display: grid;
  gap: 0 4px;
  grid-template: auto auto / 1fr auto;
  overflow: hidden;
  padding: 4px 12px;
}

.date {
  font-size: 1.2rem;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.title {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.buttonsWrapper {
  align-items: center;
  display: grid;
  gap: 8px;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  grid-template: 1fr / repeat(2, 1fr);
}
