@import "styles/constants";

.button {
  background: map-get($map: $colors, $key: white);
  border: 1px solid map-get($map: $colors, $key: black);
  border-radius: 4px;
  color: map-get($map: $colors, $key: black);
  height: 36px;
  padding: 0 16px;
}
